body {
    font-family: 'Arial', 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    box-shadow: 0px 1px 3px lightgray;
    padding: 5px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

button > * {
    pointer-events: none;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.projects {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border-right: 1px solid lightgray;
    padding-left: 16px;
    padding-right: 16px;
    width: 250px;
}

.projects h2 {
    font-weight: normal;
    margin-left: 8px;
}

.project-list {
    list-style-type: none;
    padding-left: 0;
}

.project-list li {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.project-form {
    display: flex;
}

.project-form button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#project-input {
    font-size: medium;
    padding-left: 4px;
    margin-right: 4px;
}

.add-button {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: medium;
    align-items: center;
}

.add-button span {
    padding-left: 8px;
}

.add-button:hover {
    background-color: rgb(228, 226, 226);
}

.delete {
    border-style: none;
    background-color: transparent;
    padding-top: 4px;
    cursor: pointer;
    color: lightgray;
}

.delete:hover {
    color: black;
}

.project {
    border: none;
    text-align: left;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: medium;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 2 1 auto;
    text-align: left;
    max-width: 800px;
}

.todos h2 {
    margin-left: 40px;
    font-weight: normal;
}

.todo-list {
    list-style-position: inside;
    list-style-type: none;
    padding-right: 40px;
}

.todo-list li {
    border: solid 1px lightgrey;
    border-radius: 2px;
    margin-bottom: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.25s ease-in-out;
}

.todo-list li:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.todo-list-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.todo-list-item-title {
    flex-grow: 1;
}

.todo-form {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    border: solid 1px lightgray;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.todo-form button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#todo-date {
    cursor: pointer;
}

.complete {
    margin-right: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.selected-project {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);
}