body {
    font-family: 'Open Sans', sans-serif;

}

h1 {
    border: 5px solid black;
    padding: 5px;
}

button > * {
    pointer-events: none;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    border-right: solid black;
    padding-left: 8px;
    padding-right: 8px;
}

.project-list {
    list-style-type: none;
    padding-left: 0;
}

.project-list li {
    display: flex;
    padding-bottom: 8px;
}

.add-button {
    border-style: none;
    background-color:transparent;
    cursor: pointer;
}

.delete {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.project {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    height: 2em;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 2 1 auto;
    text-align: center;
}

.todo-list {
    list-style-position: inside;
    text-align: left;
}

.todo-list-item {
    display: inline-flex;
    align-items: center;
}

.complete {
    margin-left: 8px;
}